[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ecommerce-common = {path = "../common/python", editable = false}
store-front = {path = ".", editable = false}

[dev-packages]
pytest = "8.4.2"
pytest-asyncio = "1.2.0"
ijson = ">= 3.3.0" # for mocking jwks source
httpx = ">=0.27.0" # for async client in pytest
black = ">=24.4.0"
ruff = ">=0.12.5"

[requires]
python_version = "3.13"
