[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ecommerce-common = {path = "../common/python", editable = false}
store-front = {path = ".", editable = false}

[dev-packages]
pytest = ">=8.2.*"
ijson = ">= 3.2.*" # for mocking jwks source in integrartion test
black = ">=24.4.*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"

