[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ecommerce-common = {path = "../common/python", editable = true}
user-management = {path = ".", editable = true}
# it will cause write permission error when building the C extension
# module, current workaround is to build the wheel at
# `common/python/c_exts` then install the wheel directly at
# `common/python/c_exts/dist` using the command
# `pipenv run pip install /path/to/c-ext/wheel.whl`
# my-c-extension-lib= {path = "../common/python/c_exts", editable = true}

django = "5.1.4"
djangorestframework = "3.15.2"
ijson = "==3.3.0"
PyJWT = "2.8.0"
bcrypt = "4.2.1"
cryptography = "44.0.0"
mysqlclient = "2.1.1"
# - `setuptools` can be used for those old packages which still rely
#   on`distutils`, which is removed since python 3.12
setuptools = "75.6.0"

[dev-packages]
black = ">=24.4.0"
ruff = ">=0.8.2"

[requires]
python_version = "3.13"
# don't not specify full version for future minor version upgrade
#python_full_version = "3.13.5"
