.aider*
infra/dev.env
services/common/data/secrets.json
services/common/python/Pipfile
services/common/python/poetry.lock
services/common/python/c_exts/dist/
services/common/python/dist/
services/common/rust/target/
services/filespace/*/*/
services/media/build/
services/media/data/certs/development/*.crt
services/media/data/certs/development/*.key
services/media/data/certs/test/*.crt
services/media/data/certs/test/*.key
services/order/tests/integration/target/
services/order/target/
services/payment/target/
services/tmp/buffer/media/*
services/tmp/cache/dev/*
services/tmp/cache/dev/jwks/privkey/current.json
services/tmp/cache/dev/jwks/privkey/old_*_current.json
services/tmp/cache/dev/jwks/pubkey/old_*_current.json
services/tmp/log/*/*.err
services/tmp/log/*/*.log
services/tmp/log/*/*.log.*
services/tmp/proc/*.pid
services/user_management/build/
services/user_management/infra/container-dev.env
services/user_management/infra/container-test.env
services/user_management/infra/interpolation-dev.env
services/user_management/infra/interpolation-test.env

