<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/AdminLTE/adminlte.min.css' %}">

<script src="{% static 'js/react/16.13.1/umd/react.development.js' %}" ></script>
<script src="{% static 'js/react-dom/16.13.1/umd/react-dom.development.js' %}" ></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<body>

  <!-- Content Wrapper. Contains page content -->
  <div class="wrapper p-3">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Group Detail</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/usermgt/dashboard">Back to dashboard</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card bg-light">
        <div class="card-header">
          <h3 class="card-title">
            {% for a in guser_grp.hierarchy %}
                / <a href="{{ a.id }}">{{ a.name }}</a>
            {% endfor %}
          </h3>
          <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                </button>
                <a class="btn btn-dark" title="edit"  href="/usermgt/usergrps/edit/{{ guser_grp.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" style="pointer-events:none" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" /><path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" /><line x1="16" y1="5" x2="19" y2="8" /></svg>
                </a>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                  <h4> Quota </h4>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-info">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="80%" height="80%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg>
                      </span>
                      <div class="info-box-content">
                        <span class="info-box-text">Emails</span>
                        <span class="info-box-number">{{ guser_grp.max_num_email }}</span>
                      </div>
                    </div> <!-- /.info-box -->
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-info">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="80%" height="80%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M4 4h5l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v5a1 1 0 0 1 -1 1a16 16 0 0 1 -16 -16a1 1 0 0 1 1 -1" /></svg>
                      </span>
                      <div class="info-box-content">
                        <span class="info-box-text">Phones</span>
                        <span class="info-box-number">{{ guser_grp.max_num_phone }}</span>
                      </div>
                    </div> <!-- /.info-box -->
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-info">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="80%" height="80%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M21 3L14.5 21a.55 .55 0 0 1 -1 0L10 14L3 10.5a.55 .55 0 0 1 0 -1L21 3" /></svg>
                      </span>
                      <div class="info-box-content">
                        <span class="info-box-text">Location addresses</span>
                        <span class="info-box-number">{{ guser_grp.max_num_addr }}</span>
                      </div>
                    </div> <!-- /.info-box -->
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-info">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="80%" height="80%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="11" y1="15" x2="12" y2="15" /><line x1="12" y1="15" x2="12" y2="18" /></svg>
                      </span>
                      <div class="info-box-content">
                        <span class="info-box-text">Bookings</span>
                        <span class="info-box-number">{{ guser_grp.max_bookings }}</span>
                      </div>
                    </div> <!-- /.info-box -->
                </div>
                <div class="col-12 col-sm-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-info">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="80%" height="80%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z"/>
                              <circle cx="12" cy="5" r="2" />
                              <path d="M10 22v-5l-1-1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5" />
                          </svg>
                      </span>
                      <div class="info-box-content">
                        <span class="info-box-text">Waitlist entries</span>
                        <span class="info-box-number">{{ guser_grp.max_entry_waitlist }}</span>
                      </div>
                    </div> <!-- /.info-box -->
                </div>
              </div> <!-- end of quota -->
              <div class="row">
                  <h4> Permissions (TODO) </h4>
              </div>
              <div class="row">
                  <span class="p-2">
                    {% for p in guser_grp.auth_relate.authgroup.permissions.all %}
                        {{ p.codename }} ,
                    {% endfor %}
                  </span>
              </div> <!-- end of permission -->
              <div class="row">
                <div class="col-12">
                  <h4>{{ guser_grp.usr_cnt }} Users in this group</h4>
                    {% for usr in guser_grp.user_profiles.all %}
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                        <span class="username">
                            <a href="/usermgt/user/{{ usr.id }}">{{ usr.first_name }} {{ usr.last_name }} </a>
                        </span>
                        <span class="description">{{ usr.locations.first.address.locality | default:'somewhere' }} ,
                            {{ usr.last_updated }}
                        </span>
                      </div>
                      <!-- /.user-block -->
                    </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary"><i class="fas fa-paint-brush"></i> {{ guser_grp.name }} </h3>
              <p class="text-muted"> no description </p>
              <br>
              <div class="text-muted">
                <p class="text-sm">Client Company
                  <b class="d-block">Deveint Inc</b>
                </p>
                <p class="text-sm">All descendant groups
                  <b class="d-block">
                        {% for d in guser_grp.descendants.all %}
                            {% if d.descendant.id != guser_grp.id %}
                                <a href="{{ d.descendant.id }}">{{ d.descendant.name }}</a> ,
                            {% endif %}
                        {% endfor %}
                  </b>
                </p>
              </div>

              <h5 class="mt-5 text-muted">Metadata file</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i>
                      {{ guser_grp.meta_path }} 
                  </a>
                </li>
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                </li>
              </ul>
              <div class="text-center mt-5 mb-3">
                <a href="#" class="btn btn-sm btn-primary">Add files</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

