name: media continuous integration
on:
  # push:
  #   branches:
  #     - 'media-dev/experiment/**'
  pull_request:
    branches:
      - 'master'
    paths:
      - '.github/workflows/media-ci.yaml'
      - 'services/media/**'


jobs:
  build-app-images:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build media backend base image
        uses: docker/build-push-action@v5
        with:
          context: services # Context is 'services' as Dockerfile is in services/media/infra
          file: services/media/infra/apps.dockerfile
          outputs: type=docker,dest=${{ runner.temp }}/media-backend-build0.tar
          tags: media-backend-base:latest
          target: final0
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Upload media-backend-base image artifact
        uses: actions/upload-artifact@v4
        with:
          name: media-backend-base-image
          path: ${{ runner.temp }}/media-backend-build0.tar
          retention-days: 1

      - name: Build media helper tool image
        uses: docker/build-push-action@v5
        with:
          context: services # Context is 'services' as Dockerfile is in services/media/infra
          file: services/media/infra/helpertool.dockerfile
          outputs: type=docker,dest=${{ runner.temp }}/media-helper-tool-build0.tar
          tags: media-helper-tool:latest
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Upload media-helper-tool image artifact
        uses: actions/upload-artifact@v4
        with:
          name: media-helper-tool-image
          path: ${{ runner.temp }}/media-helper-tool-build0.tar
          retention-days: 1

  # Job to run unit tests using Docker Compose
  run-unit-tests:
    needs: build-app-images # Depends on application images being built
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      # Load the built application image into the Docker daemon
      - name: Download media-backend-base image artifact
        uses: actions/download-artifact@v4
        with:
          name: media-backend-base-image
          path: ${{ runner.temp }}
      - name: Load media-backend-base docker image
        run: |
          docker load --input ${{ runner.temp }}/media-backend-build0.tar
          docker image list --all

      - name: Create test environment files
        working-directory: services/media/infra
        run: |
          echo "DB_HOST=media-test-mariadb" > ./container-test.env
          echo "MARIADB_ROOT_PASSWORD=DB_PASSWORD" >> ./container-test.env
          echo "SITEDBA_UNAME=DB_USERNAME"    >> ./container-test.env
          echo "SITEDBA_PASSWORD=DB_PASSWORD" >> ./container-test.env
          echo "DB_APP_UNAME=DB_USERNAME"    >> ./container-test.env
          echo "DB_APP_PASSWORD=DB_PASSWORD" >> ./container-test.env

      - name: Set up mock credentials for test
        working-directory: services/common/data
        run: |
            ln -s ./secrets_template.json  ./secrets.json

      - name: Run unit tests with Docker Compose
        working-directory: services/media
        # --abort-on-container-exit stops all containers if the unit test container exits
        run: |
            docker compose --file ./infra/docker-compose-utest.yml up --abort-on-container-exit
            docker logs media-utest-0

      - name: Clean up containers after unit tests
        if: always() # Ensures cleanup runs even if tests fail
        working-directory: services/media
        run: docker compose --file ./infra/docker-compose-utest.yml down --volumes

  run-integration-tests:
    needs: run-unit-tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build MariaDB extended image
        uses: docker/build-push-action@v5
        with:
          context: infra # Path to the infra folder relative to github.workspace
          file: infra/mariadb-ext.dockerfile
          outputs: type=docker
          tags: mariadb-ext:11-noble
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build RabbitMQ custom init image
        uses: docker/build-push-action@v5
        with:
          context: infra # Path to the infra folder relative to github.workspace
          file: infra/rabbitmq-custom-init.dockerfile
          outputs: type=docker
          tags: rabbitmq-custom-init:3.13-management
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Load the built application image into the Docker daemon
      - name: Download media-backend-base image artifact
        uses: actions/download-artifact@v4
        with:
          name: media-backend-base-image
          path: ${{ runner.temp }}
      - name: Download media-helper-tool image artifact
        uses: actions/download-artifact@v4
        with:
          name: media-helper-tool-image
          path: ${{ runner.temp }}
      - name: Load media application docker images
        run: |
          docker load --input ${{ runner.temp }}/media-backend-build0.tar
          docker load --input ${{ runner.temp }}/media-helper-tool-build0.tar
          docker image list --all

      - name: Set up database persistence path
        working-directory: ${{ github.workspace }}
        run: |
          mkdir -p installed/mariadb/data installed/mariadb/log
          sudo chown --recursive 999:999 installed/mariadb

      - name: Create test environment files
        working-directory: services/media/infra
        run: |
          # container-test.env contains variables directly consumed by services (e.g., DB_HOST)
          echo "DB_HOST=media-test-mariadb" > ./container-test.env
          echo "MARIADB_ROOT_PASSWORD=DB_PASSWORD" >> ./container-test.env
          echo "SITEDBA_UNAME=DB_USERNAME"    >> ./container-test.env
          echo "SITEDBA_PASSWORD=DB_PASSWORD" >> ./container-test.env
          echo "DB_APP_UNAME=DB_USERNAME"    >> ./container-test.env
          echo "DB_APP_PASSWORD=DB_PASSWORD" >> ./container-test.env
          echo "CONTAINER_IP_RANGE=172.19.13.%" >> ./container-test.env
          echo "MIGRATE_VERSION_TAG=0.0.0" >> ./container-test.env
          echo "SKIP_TRANSCODING_TEST=1" >> ./container-test.env
          # interpolation-test.env contains variables for Docker Compose CLI and database setup
          echo "MARIADB_DATA_VOL=${{ github.workspace }}/installed/mariadb/data" > ./interpolation-test.env
          echo "MARIADB_LOG_VOL=${{ github.workspace }}/installed/mariadb/log" >> ./interpolation-test.env

      - name: Set up mock credentials for test
        working-directory: services/common/data
        run: |
            ln -s ./secrets_template.json  ./secrets.json

      - name: Run integration tests with Docker Compose
        working-directory: services/media
        run: |
            # Bring up MariaDB, schema migration, mock auth server, API server, RPC consumers, and the integration test runner
            docker compose --file ./infra/docker-compose-generic.yml \
                           --file ./infra/docker-compose-itest.yml \
                           --env-file ./infra/interpolation-test.env \
                           up --detach
            # Wait for the integration test runner container to exit
            python3 ${{ github.workspace }}/.github/docker_wait.py  --container-name media-itest-0  --target-status exited --timeout-secs 600
            docker ps --all --filter name=media-*
            docker logs media-test-mariadb --tail 40
            docker logs media-test-db-schema-upgrade --tail 50
            docker logs media-test-cert-renew
            docker logs media-itest-0
            docker logs media-test-apisrv

      - name: Clean up containers after integration tests
        if: always() # Ensures cleanup runs even if tests fail
        working-directory: services/media
        run: |
            docker compose --file ./infra/docker-compose-generic.yml \
                           --file ./infra/docker-compose-itest.yml \
                           --env-file ./infra/interpolation-test.env \
                           down --volumes
           
